@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');

body{
    font-family: 'Crimson Pro';
    font-size: 1.2em;
    background-color: rgb(245, 218, 187);
}
.heading{
    text-align: center;
}
.list-style{
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}

.form-wraper{
    background-color: rgb(251, 252, 245);
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 8px 2px gray;
}

.rw{
    padding: 10px;
}

.lastrow{
    padding-bottom: 40px;
}

.left-labels{
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
}

.labls1{
    vertical-align: top;
}

.ins{
    display: inline-block;
    text-align: left;
    width: 48%;
    padding: 5px;
}

textarea{
    height: 40px;
    resize: vertical;
}

.submit-button{
    width: 90px;
    height: 45px;
    background-color: aliceblue;
    border-radius: 4px;
    font-family: 'Crimson Pro';
    font-size: 1.1em;
}

.naap{
    width: 180px;
    height: 25px;
}

.dropdown{
    width: 95px;
    height: 30px;
    font-family: 'Crimson Pro';
    font-size: 0.8em;
}

::-webkit-input-placeholder { 
    font-family: 'Crimson Pro';
    font-size: 1.5em;
  }