@import url('https://fonts.googleapis.com/css?family=Crimson+Pro&display=swap');

body{
    font-family: 'Crimson Pro';
    font-size: 1.2em;
}
.title{
    text-align: center;
}

.img-div{
    display: grid;
    grid-template-columns: auto;
    justify-items: center
}
.image{
    max-width: 100%;
    display: block;
    height: auto;
    width: auto;
}
